// Пользовательские утилиты с использованием Bootstrap Utilities API

// Добавляем пользовательские утилиты в карту Bootstrap
$utilities: map-merge(
  $utilities,
  (
    // Утилиты для радиусов
    "radius": (
      property: border-radius,
      class: radius,
      values: (
        null: 1rem,
      )
    ),
    "radius-left": (
      property: border-top-left-radius border-bottom-left-radius,
      class: radius-left,
      values: (
        null: 1rem,
      )
    ),
    "radius-right": (
      property: border-top-right-radius border-bottom-right-radius,
      class: radius-right,
      values: (
        null: 1rem,
      )
    ),
    "radius-left-top": (
      property: border-top-left-radius,
      class: radius-left-top,
      values: (
        null: 1rem,
      )
    ),
    "radius-right-top": (
      property: border-top-right-radius,
      class: radius-right-top,
      values: (
        null: 1rem,
      )
    ),
    "radius-left-bottom": (
      property: border-bottom-left-radius,
      class: radius-left-bottom,
      values: (
        null: 1rem,
      )
    ),
    "radius-right-bottom": (
      property: border-bottom-right-radius,
      class: radius-right-bottom,
      values: (
        null: 1rem,
      )
    ),
    // Утилиты для пользовательских отступов
    "margin-top-3rem": (
      property: margin-top,
      class: mt-3rem,
      values: (
        null: 3rem,
      )
    ),
    "margin-bottom-1rem": (
      property: margin-bottom,
      class: mb-1rem,
      values: (
        null: 1rem,
      )
    ),
    "padding-x-1-5rem": (
      property: padding-left padding-right,
      class: px-1-5rem,
      values: (
        null: 1.5rem,
      )
    ),
    // Утилиты для границ с поддержкой брейкпойнтов
    "border-responsive": (
      property: border,
      class: border,
      responsive: true,
      values: (
        null: 1px solid #efefef,
      )
    ),
    "border-top-responsive": (
      property: border-top,
      class: border-top,
      responsive: true,
      values: (
        null: 1px solid #efefef,
      )
    ),
    "border-end-responsive": (
      property: border-right,
      class: border-end,
      responsive: true,
      values: (
        null: 1px solid #efefef,
      )
    ),
    "border-bottom-responsive": (
      property: border-bottom,
      class: border-bottom,
      responsive: true,
      values: (
        null: 1px solid #efefef,
      )
    ),
    "border-start-responsive": (
      property: border-left,
      class: border-start,
      responsive: true,
      values: (
        null: 1px solid #efefef,
      )
    )
  )
);
